#!/usr/bin/env bash

ENV_REPO="$(git rev-parse --show-toplevel 2>/dev/null)"
export ENV_REPO
PATH_add "${ENV_REPO}"

ENV_MAPPINGS="${ENV_REPO}/cname_mappings"
export ENV_MAPPINGS

ENV_UPDATER="${ENV_REPO}/cname_updater"
export ENV_UPDATER

ENV_HOOK="${ENV_REPO}/cname_updater_hook"
export ENV_HOOK

ENV_FUNCTIONS="${ENV_REPO}/functions"
export ENV_FUNCTIONS

ENV_REAPER="${ENV_REPO}/cname_reaper"
export ENV_REAPER

ENV_REAPER_INIT="${ENV_REPO}/cname_reaper.init"
export ENV_REAPER_INIT
